/* style.css */

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(img/bg\ bata.jpg);
  background-size: cover;
}

.hidden {
  display: none;
}

/* hack */

#hack {
  background: black;
  height: 43.5pc;
  width: 100%;
}

.hack h1 {
  color: white;
}

.hack h4 {
  color: white;
}

.code {
  color: white;
}

#hack textarea {
  height: 90px;
  width: 13pc;
}

/* shop */

.link {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
}

hr {
  border-bottom: 2px solid black;
}

.nav-menu button {
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: pointer;
}

#shop table,
#post table {
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  width: 49%;
}

#darkwiki table {
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  width: 70%;
}

/* dark wiki */

.link-to-access {
  width: 65%;
  margin: auto;
  text-align: left;
}

.say-welcome {
  background: rgba(160, 160, 160, 0.5);
  margin: auto;
}

.link-to-access a {
  display: block;
}

/* code */

#code p {
  font-weight: bolder;
}

/* footer */

#foot {
  margin-top: 30px;
}
